@import "/src/style/partials/base/base";

.primary-button {
  height: 45px;
  padding: 0 35px;
  background: $colour-primary;
  border-radius: 10px;
  border: none;
  color: #fff;
  transition: 0.3s;
  font-size: 1.25rem;
}

.primary-button:hover {
  background: $colour-secondary;
  color: #fff;
}
